/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom style */

    

.header {
    background-color: navy;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 36px;
}

.inline-block {
    display: inline-block;
}

.logo-container {
    height: 100%;
    width: 30%;
    box-sizing: border-box;
    padding: 45px 60px;
}

.img-logo {
    width: 100px;
    height: 57px;
}

.top-nav-container {
    width: 70%;
    text-align: right;
    height: 100%;
    vertical-align: top;
    padding: 57px;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    color: green;
    padding: 20px;
}

p {
    font-size: 20px;
}

.hero-img {
    width: 500px;
    height: 400px;
    display: inline-block;
   /* margin: auto; */
}

footer {
    background-color: navy;
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;

}
.hero {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    height: 496px;
    padding: 50px 0px;
    box-sizing: border-box;
}

.side {
    display: inline-block;
    width: 50%;
    height: 496px;
    box-sizing: border-box;
}

.hero-article {
    padding: 20px;
}

.footer-nav-items {
    padding: 57px;
}

.hero-img-article {
    padding: 20px 100px;
    box-sizing: border-box;
}